################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tanneryd.Chronometry/.vs/Tanneryd.Chronometry
/Tanneryd.Chronometry/packages
/Tanneryd.Chronometry/Tanneryd.Chronometry/bin
/Tanneryd.Chronometry/Tanneryd.Chronometry/obj
/Tanneryd.Chronometry/Tanneryd.Chronometry.Tests/bin
/Tanneryd.Chronometry/Tanneryd.Chronometry.Tests/obj
/Tanneryd.Chronometry/Tanneryd.Chronometry/nuget_api_key.txt
Tanneryd.Chronometry/.idea/
Tanneryd.Chronometry/Tanneryd.Chronometry/.vs/
Tanneryd.Chronometry/Tanneryd.Chronometry/nuget_api.txt
